#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -20px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
@keyframes hideSplashScreen {
  /* 애니메이션 추가 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* 마우스에 걸리지 않게 (클릭에 지장이없게) 화면에서 빠지게함*/
  }
}
#splash-screen {
  background-color: rgb(224, 224, 87);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  /* forwards : 애니메이션의 마지막 값을 유지하게함*/
  animation-delay: 2s;
}
