.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  /* under 3 line : 중앙정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 30px;
  color: white; /* 아이콘은 텍스트이기 때문에 color로 바꿔줄 수 있다. */
}
