.icon-row {
  display: flex;
  justify-content: space-between;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i {
  font-size: 25px; /* 폰트사이즈로 아이콘 크기도 늘릴수있다. */
}
.icon-row__icon span {
  margin-top: 18px;
}
