.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__link {
  position: relative;
  color: #2e363e;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateX(360deg);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
  /* infinite : 영원하게 하기 위해서 */
}

.nav__reddot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  position: absolute;
  left: 30px;
}
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.nav_btn {
  transform: translateY(50px); /* 버튼초기 위치를 밑에서 시작하기 위해서 */
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}
.nav_btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav_btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav_btn:last-child {
  animation-delay: 0.8s;
}
